@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Jost", sans-serif;
}

nav {
  height: 60px;
  background-color: rgb(60, 60, 174);
  display: flex;
  justify-content: end;
  padding-right: 20px;
}

nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
nav ul li {
  list-style-type: none;
  margin: 0px 10px;
  cursor: pointer;
  color: #fff;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}
nav ul li img {
  width: 35px;
  border-radius: 30px;
}
section {
  padding: 30px;
}
section h1 {
  margin-bottom: 20px;
}

.notes {
  margin-top: 20px;
}
.note {
  display: flex;
  gap: 20px;
}

#loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
